* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}
#wrap {
  background-color: #0d3745;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  color: #ffffff;
}
.logo {
  justify-content: center;
  height: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
#header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
#gnb > li {
  position: relative;
  margin: 0; /* 부모 요소의 마진 제거 */
}
#gnb > li > a {
  color: #ffffff; /* 기본 글씨 색상 */
  text-decoration: none; /* 기본 링크 스타일 제거 */
  padding: 10px; /* 링크에 패딩 추가 */
  margin: 0; /* 링크 마진 제거 */
  display: block; /* 링크를 블록 요소로 변환하여 전체 영역 클릭 가능 */
}
#gnb > li > a:hover {
  border-bottom: 2px solid #ffffff;
}
#header > #gnb {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header > #gnb::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  height: 120px;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0px 10px 10px 0px rgba(48, 49, 51, 6%);
  display: none;
}

#header > #gnb.on::before {
  display: block;
}
#header > #gnb > li .snb {
  position: absolute;
  top: 80px;
  display: none;
}
#header > #gnb.on > li .snb {
  display: block;
  color: #0d3745;
  text-align: center;
}
#header > #gnb > li > .snb > ul > li + li {
  margin-top: 20px;
}
.snb {
  margin: 0; /* 서브 메뉴 마진 제거 */
  top: calc(100% + 0px);
}

.hello {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px 20px 20px;
}

.hello-container {
  width: 50%;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.hello-pic {
  height: 200px;
  margin-bottom: 50px;
}
.description {
  margin-bottom: 30px;
  font-weight: 100;
}
.greeting-container {
  display: flex;
  align-items: center;
}

#greeting {
  margin-right: 5px;
}
.logout-button {
  width: 30%;
  padding: 10px;
  background-color: #0d3745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.logout-button:hover {
  background-color: #092837;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f9f8f4;
  color: #a3a3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.weare1ne {
  display: flex;
  align-items: center;
}

.bottom-logo {
  height: 50px;
  margin-right: 15px;
}

.text {
  display: flex;
  flex-direction: column;
}

.we {
  font-weight: 600;
  font-size: 25px;
}

.team {
  font-weight: 400;
  font-size: 14px;
}

.middle-wrapper {
  text-align: center;
  width: 100%;
}

.middle {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.middle a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}

.middle2 {
  font-size: 12px;
  text-align: center;
}

.sns {
  display: flex;
  padding-right: 40px;
  gap: 10px;
}

.sns-icon {
  height: 30px;
  padding-right: 5px;
}
