* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
}
#wrap {
  background-color: #0d3745;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  color: #ffffff;
}
.logo {
  justify-content: center;
  height: 50px;
  display: flex;
  align-items: center;
  margin: auto;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
#header {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}
#gnb > li {
  position: relative;
  margin: 0; /* 부모 요소의 마진 제거 */
}
#gnb > li > a {
  color: #ffffff; /* 기본 글씨 색상 */
  text-decoration: none; /* 기본 링크 스타일 제거 */
  padding: 10px; /* 링크에 패딩 추가 */
  margin: 0; /* 링크 마진 제거 */
  display: block; /* 링크를 블록 요소로 변환하여 전체 영역 클릭 가능 */
}
#gnb > li > a:hover {
  border-bottom: 2px solid #ffffff;
}
#header > #gnb {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header > #gnb::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  height: 120px;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0px 10px 10px 0px rgba(48, 49, 51, 6%);
  display: none;
}

#header > #gnb.on::before {
  display: block;
}
#header > #gnb > li .snb {
  position: absolute;
  top: 80px;
  display: none;
}
#header > #gnb.on > li .snb {
  display: block;
  color: #0d3745;
  text-align: center;
}
#header > #gnb > li > .snb > ul > li + li {
  margin-top: 20px;
}
.snb {
  margin: 0;
  top: calc(100% + 0px);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eae8dc;
  color: #a3a3a3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.weare1ne {
  display: flex;
  align-items: center;
}
.bottom-logo {
  height: 50px;
  margin-right: 15px;
}
.text {
  display: flex;
  flex-direction: column;
}
.we {
  font-weight: 600;
  font-size: 25px;
}
.team {
  font-weight: 400;
  font-size: 14px;
}
.middle-wrapper {
  text-align: center;
  width: 100%; /* 가운데 정렬을 위해 추가 */
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.middle a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}
.middle2 {
  font-size: 12px;
  text-align: center; /* 가운데 정렬을 위해 추가 */
}
.sns {
  display: flex;
  padding-right: 40px;
  gap: 10px;
}
.sns-icon {
  height: 30px;
  padding-right: 5px;
}

.add-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0d3745;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-button:hover {
  background-color: #092837;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  height: auto; /* 높이를 자동으로 설정하여 폼 내용에 맞게 조절 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

#write-post-form {
  width: 80%;
}

.close-button {
  color: #aaa;
  align-self: flex-end; /* 닫기 버튼을 오른쪽 상단에 위치시킵니다. */
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.post-content {
  width: 70%;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0d3745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto; /* 제출 버튼을 div 아래쪽에 위치시킵니다. */
}

.submit-button:hover {
  background-color: #092837;
}

.form-group {
  width: 100%; /* 입력 칸을 div의 가로 폭에 맞춥니다. */
  margin-bottom: 15px; /* 입력 칸 사이에 간격을 둡니다. */
}
#post-title,
#post-content {
  width: 100%; /* 입력 칸을 div의 가로 폭에 맞춥니다. */
  padding: 10px; /* 입력 칸에 패딩을 추가합니다. */
  border: 1px solid #ddd; /* 입력 칸의 테두리를 설정합니다. */
  border-radius: 5px; /* 입력 칸의 모서리를 둥글게 만듭니다. */
}
